@media screen {
    header nav .thesaurus::before,
    .thesaurus .subhead::before,
    .thesaurus .no-resources:before {
        content: 'ï•‚';
    }

    body.thesaurus .sidebar-actions,
    body.thesaurus .toolbar-actions {
        text-align: right;
    }

    body.thesaurus.show .jstree-node a i.jstree-icon.jstree-themeicon::before {
        content: '';
    }
    body.thesaurus.show .jstree-open > .jstree-anchor .jstree-displaylink {
      right: 60px;
    }

    body.thesaurus.convert form .field .inputs label,
    body.thesaurus.update-concepts form .field .inputs label {
        display: block;
    }
}
